body {
  margin: 0;
  height: 100vh;
  background-color: lightgray;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 100px 0;
}

section {
  width: 50%;
  min-width: 450px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: darkgray 0 6px 12px;
  margin: 0 auto;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 30px 20px;
  box-sizing: border-box;
  margin: 0;
}

#new-task {
  width: 100%;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 4px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  outline: none;
  color: gray;
}

#new-task::placeholder {
  color: gray;
  font-style: italic;
}

#todo-list {
  width: 100%;
  min-height: 67px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: 300;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
}

.todo-item {
  border: none;
  outline: none;
  font-size: 17px;
  font-family: inherit;
}

button {
  min-width: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

i {
  font-size: 17px;
  color: gray;
}

.fa-square {
  margin-right: 15px;
}

#remove-completed {
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: gray;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  background-color: #f5f3f4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
